crawler/src/main/resources/crawler_css.dtd

<!--dtd文件功能太弱,改为Schema —> 
<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT depths (depth+)>
<!ELEMENT depth (child+)>
<!ATTLIST depth cssSelector CDATA #IMPLIED>
<!ATTLIST depth level ID #REQUIRED>
<!ELEMENT child (#PCDATA)>
<!ATTLIST child isStorage CDATA #IMPLIED>
<!ATTLIST child index (0|1|2|3|4|5|6|7|8|9) "1">
